.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}

.header-logo{
    font-size: 2rem;
    padding: 5px 0px;
}

.navbar-component{
    display: block;
}

.navbar-hamburger-button{
    display: none;
}

.header-link-list{
    display: none;
}

@media screen and (max-width:992px) {
    .navbar-component{
        display: none;
    }

    .navbar-hamburger-button{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-link-list{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 75%;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        left: -75%;
        z-index: 5;
        transition: all .5s;
    }

    .active{
        left: 0%;
    }

    .hamburger-close-btn{
        padding: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .hamburger-link{
        text-align: center;
        padding: 10px;
        text-decoration: none;
        color: var(--primary-color);
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 2px solid white;
        border-radius: 0px 0px 20px 0px;
        transition: all.5s;
    }

    .hamburger-link:hover{
        color: white;
    }
}