.navbar-cotainer{
    display: block;
}

.navbar-link{
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-left: 1px solid gray;
    font-weight: 700;
    color: var(--primary-color);
    transition: all .75s;
}

.navbar-link:hover{
    color: white;
    background-color: var(--primary-color);
    border-left:1px solid black;
    cursor: pointer;
}